#container{
    background-color:black;
    color:white;
    position:relative;
    width:1000px;
    top: 1px;
    left: -1px;
}

#header{
    font-family:Arial, helvetica, sans-serif;
    font-variant:small-caps;
    text-align:center;
    width:700px;
    float:left;
    height:84px;
}
#rightheader {
    background-color: green;
    margin: 0 auto;
    float: right;
    height: 250px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 150px;
}
#menu{
   width:780;
    float:left;
    padding:20px;
    clear:both;
    height:20px;
}

#date{
    background-color:black;
    width:230px;
    float:right;
    padding:20px;
    height:20px;
}
h1{
    font-variant:normal;
    color:blue;
    text-align:center;
}

h2{
    font-variant:normal;
    color:blue;
}

h3{
    color:blue;
}

#main{
    padding:20px;
    clear:both;
    width:980px;
    align-content:center;

}



#footer{
    background-color:black;
    color:#000098;
    text-align:center;
    width:960px;
    padding:20px;

}